<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @av1.matricula %>
</p>

<p>
  <strong>Email Pessoal:</strong>
  <%= @av1.email1 %>
</p>

<p>
  <strong>Email Lasalle:</strong>
  <%= @av1.email2 %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @av1.nome %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @av1.curso %>
</p>

<%= link_to 'Editar', edit_av1_path(@av1) %> |
<%= link_to 'Voltar', av1s_path %>
